.FakeModal{
    background: transparent;
    position: fixed;
    top: 0%;
    right: 0%;
    height: 100%;
    margin: auto;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

.FakeModalContent{
    margin-top: 10%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    min-height: 30%;
    background: white;
    top: 50;
}

.FakeModalHeading{
    padding-top: 20px;
    font-size: 20px;
    color: #254b6e;
}

.FakeModalBody{
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    margin: 20px 30px;
    word-break: break-word;
    text-align: initial;
    text-align-last: left;
    color: #444;
    letter-spacing: 1px;
    word-spacing: 3px;
}

